---
const { title, imageSrc, href, alt, description } = Astro.props;
---


<a href={href} class="flex flex-col justify-between gap-2 w-[400px] transform transition-all duration-700 hover:scale-110 hover:shadow-xl rounded-lg bg-transparent">
	<img class="aspect-video w-full bg-slate-400 rounded-lg" src={imageSrc} alt={alt} />
	<h2 class="text-lg font-bold">
		{title}
	</h2>
	<p class="">
		{description}
	</p>
	<p class="text-purple-500 font-extrabold">Conoce Más!</p>
</div>